/* music-player.css */
.music-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(88, 22, 118);
    padding: 20px;
    border-radius: 20px;
    color: white;
    width: 300px;
    font-family: sans-serif;
    box-shadow: 0 0 15px rgba(74, 14, 89, 0.4);
}

.music-player .header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.music-player .cover {
    width: 50px;
    height: 50px;
    background: #4b5b6b;
    border-radius: 10px;
    margin-right: 10px;
}

.music-player .song-info {
    flex-grow: 1;
}

.music-player .song-info h4 {
    margin: 0;
    font-size: 1rem;
}

.music-player .song-info p {
    margin: 0;
    font-size: 0.8rem;
    color: #bbb;
}

.music-player audio {
    display: none;
}

.music-player .progress-container,
.music-player .volume-container {
    width: 100%;
    margin: 10px 0;
}

.music-player input[type=range] {
    width: 100%;
    accent-color: rgb(255, 208, 0);
}

.music-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-player .controls button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.music-player .controls button:hover {
    color: #61dafb;
}
